@model EventApplication.Models.Event

@{
    ViewBag.Title = "Register";
}

<h2>Details</h2>
<div>
    <h2>
        @Model.Title
    </h2>
    <div id=" event-details">
        <p>
            sales end @Model.StartDate
        </p>

        <table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
            @*</tr> @* JUST ADDED WHEN NOTHING WAS SHOWING AGAIN*@

        @foreach (var item in Model)
        {
            <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.EventId })
            </td>
            <td>
                @item.StartDate
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.State
            </td>
            </tr>
    }
    
</table>







    </div>
</div>

