@model EventApplication.Models.Event

@{
    ViewBag.Title = "Register";
}

<h1>Register</h1>

Sales ends on @Model.StartDate
<br />
<form method="post" action="Register">
    @Html.AntiForgeryToken()
    <div>

        <p></p>

        <input type="hidden" name="EventId" value="@Model.EventId" />

        <table>
            <tr>
                @*Headings*@
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Number of Tickets</th>
                <th></th>

            </tr>

            <tr>
                <td>@Model.Title</td>


                @**<td>@Model.AvailableTickets</td>*@
            </tr>

            <tr>
                <td>FREE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>




                <td>
                    <select name="NumberOfTickets">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </td>
            </tr>

        </table>

    </div>
    <p class="button">
        @*@Html.ActionLink("Checkout", "Checkout", "OrderSummary"*@
        <button type="submit" title="Checkout">Checkout</button>
    </p>
</form>


