@model EnrollmentApplication.Models.Enrollment

@{
    ViewBag.Title = "TestView";
}

<h2>Test HTML Helpers in this view</h2>

<div class="form-horizontal">
    <p></p>
    <h4>Enrollment</h4>
    <hr />
    @* This is how you create a basic DropDownList without writing any HTML Code by using HTML Helpers in RAZOR
        @Html.Label("Enrollments")
        @Html.DropDownList("Enrollments", new List<SelectListItem>() { new SelectListItem() { Text = "Enrollment1", Value = "1" },
                                                                new SelectListItem() { Text = "Enrollment2", Value = "2"}})
    *@

    @* This is how we tie DropDownList to a viewbag item

            <div>
            @Html.Label("Enrollments")
            @Html.DropDownListFor(x => x.EnrollmentId, null)
        </div>
        </div>
        <div>
            @Html.Label("Courses")
            @Html.DropDownList("CourseId")
        </div>
        <div>
            @Html.Label("Students")
            @Html.DropDownList("StudentId")
        </div>

    *@
    <div>
        @Html.Label("EnrollmentsByName")
        @Html.DropDownList("EnrollmentsByName")
    </div>
    <div>
        @Html.Label("EnrollmentsByStudent")
        @Html.DropDownList("EnrollmentsByStudent")
    </div>
    <div>
        @Html.Label("EnrollmentsByCourse")
        @Html.DropDownList("EnrollmentsByCourse")
    </div>

</div>

