@model IEnumerable<EventApplication.Models.Event>
@{
    ViewBag.Title = "Last Minute Deals";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.StartDate.ToString("dddd d MMMM yyyy"))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
            @*</tr> @* JUST ADDED WHEN NOTHING WAS SHOWING AGAIN*@

        @foreach (var item in Model)
        {
            <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.EventId })
            </td>
            <td>
                @item.StartDate
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.State
            </td>
            </tr>
    }
    
</table>

        